Resources:
  mySecurityGroup:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod24_ssl: []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    owner: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/home/ec2-user/https/server.crt"
        SSLCertificateKeyFile "/home/ec2-user/https/server.key"
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on

        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>

  /home/ec2-user/https/server.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN&amp;nbsp;CERTIFICATE-----
      MIIGaTCCBVGgAwIBAgIDDprbMA0GCSqGSIb3DQEBBQUAMIGMMQswCQYDVQQGEwJJ
      TDEWMBQGA1UEChMNU3RhcnRDb20gTHRkLjErMCkGA1UECxMiU2VjdXJlIERpZ2l0
      YWwgQ2VydGlmaWNhdGUgU2lnbmluZzE4MDYGA1UEAxMvU3RhcnRDb20gQ2xhc3Mg
      MSBQcmltYXJ5IEludGVybWVkaWF0ZSBTZXJ2ZXIgQ0EwHhcNMTQwMjE4MDA0ODQx
      WhcNMTUwMjE5MDA0MjE0WjByMRkwFwYDVQQNExBUaGFxZlRiNHNYT2lUMVg5MQsw
      CQYDVQQGEwJDTjEdMBsGA1UEAxMUd3d3LmZsYXBweWRyYWdvbi5uZXQxKTAnBgkq
      hkiG9w0BCQEWGndlYm1hc3RlckBmbGFwcHlkcmFnb24ubmV0MIIBIjANBgkqhkiG
      9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmEwDMgnwOi2Hm0xp4+3k7/kJy/jbCL+pSHII
      XsKPPix8Qn2Vo2ejCmF96YPnpRZxkNjSMyFC6lfk1oHFw+A/WipqVs/eMfbXx/2M
      v1Tkzv7TkGPVwJXFWZEEQ/uRjUNEqUK5Kno1LmCvAcWL5ZrSB5jbtXHYoXrTeht+
      tIt6s6LuoLnrc7ZLWKXpxVEZ0wGjU1+iQbptyQnIkYgFl/4tXD3pAB7CPjr0KFFb
      z3j77J4G4M9yMSQO00q1r5fhY2IvF+L3IfDI2CmQgszg3nSi0a74tPkfkOmd/BIi
      BPwUuhWvQoVmNw/AnfBc9V/CJFZUQKYpzTJyfE3qP8IBRTZAKQIDAQABo4IC6zCC
      AucwCQYDVR0TBAIwADALBgNVHQ8EBAMCA6gwEwYDVR0lBAwwCgYIKwYBBQUHAwEw
      HQYDVR0OBBYEFEIFbR/HAY6dVTa+/IrcJn/pXN87MB8GA1UdIwQYMBaAFOtCNNCY
      sKuf9BtrCPfMZC7vDixFMDEGA1UdEQQqMCiCFHd3dy5mbGFwcHlkcmFnb24ubmV0
      ghBmbGFwcHlkcmFnb24ubmV0MIIBVgYDVR0gBIIBTTCCAUkwCAYGZ4EMAQIBMIIB
      OwYLKwYBBAGBtTcBAgMwggEqMC4GCCsGAQUFBwIBFiJodHRwOi8vd3d3LnN0YXJ0
      c3NsLmNvbS9wb2xpY3kucGRmMIH3BggrBgEFBQcCAjCB6jAnFiBTdGFydENvbSBD
      ZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTADAgEBGoG+VGhpcyBjZXJ0aWZpY2F0ZSB3
      YXMgaXNzdWVkIGFjY29yZGluZyB0byB0aGUgQ2xhc3MgMSBWYWxpZGF0aW9uIHJl
      cXVpcmVtZW50cyBvZiB0aGUgU3RhcnRDb20gQ0EgcG9saWN5LCByZWxpYW5jZSBv
      bmx5IGZvciB0aGUgaW50ZW5kZWQgcHVycG9zZSBpbiBjb21wbGlhbmNlIG9mIHRo
      ZSByZWx5aW5nIHBhcnR5IG9ibGlnYXRpb25zLjA1BgNVHR8ELjAsMCqgKKAmhiRo
      dHRwOi8vY3JsLnN0YXJ0c3NsLmNvbS9jcnQxLWNybC5jcmwwgY4GCCsGAQUFBwEB
      BIGBMH8wOQYIKwYBBQUHMAGGLWh0dHA6Ly9vY3NwLnN0YXJ0c3NsLmNvbS9zdWIv
      Y2xhc3MxL3NlcnZlci9jYTBCBggrBgEFBQcwAoY2aHR0cDovL2FpYS5zdGFydHNz
      bC5jb20vY2VydHMvc3ViLmNsYXNzMS5zZXJ2ZXIuY2EuY3J0MCMGA1UdEgQcMBqG
      GGh0dHA6Ly93d3cuc3RhcnRzc2wuY29tLzANBgkqhkiG9w0BAQUFAAOCAQEAtJrj
      VAw+dVSyWACiCqIbLpIHvHEsfxU3XUvLlQ9VSgJv/HFSLC1cl60EoFGLjlLwuWCP
      quLwd5CXNyYViEwl0bmNpJMdgKB205CKbVXxkr0uxqpRuOS1mstHxDjH8RUD4NlU
      MR2Moc3S6BvFlQ1F8jz/hCq6AkeZBi1C372idecFfGWuTdQRFpDEENlZL2dWS8gO
      u7os8VAPW5ERUC41IoRHYViX5PYXZgNAEoK+7BpP+k1LIips0GywYq4eiLk2BFdn
      0H7RjoYZP7YyYjehUUsQlj4VUgVYqNYBw+41GU3W+vKNt4z3wO/COLQBpTz4aKjw
      4wI1HTBOfPRd5ZDZkQ==
      -----END&amp;nbsp;CERTIFICATE-----

  /home/ec2-user/https/server.key:
    mode: 00777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA&amp;nbsp;PRIVATE KEY-----
      MIIEowIBAAKCAQEAmEwDMgnwOi2Hm0xp4+3k7/kJy/jbCL+pSHIIXsKPPix8Qn2V
      o2ejCmF96YPnpRZxkNjSMyFC6lfk1oHFw+A/WipqVs/eMfbXx/2Mv1Tkzv7TkGPV
      wJXFWZEEQ/uRjUNEqUK5Kno1LmCvAcWL5ZrSB5jbtXHYoXrTeht+tIt6s6LuoLnr
      c7ZLWKXpxVEZ0wGjU1+iQbptyQnIkYgFl/4tXD3pAB7CPjr0KFFbz3j77J4G4M9y
      MSQO00q1r5fhY2IvF+L3IfDI2CmQgszg3nSi0a74tPkfkOmd/BIiBPwUuhWvQoVm
      Nw/AnfBc9V/CJFZUQKYpzTJyfE3qP8IBRTZAKQIDAQABAoIBAQCD04gQkDm4oiB3
      dLVT7l/0uISaYlZ2RDCr3MkR/ScwkiEdDMeyIcsm+SycLOkeJUc4MfYA/BGH93zF
      kJ825azwxzY03sleRmSRYA+srjdAVaOboE8t3HZvCO/ASMm8lTWhrXfKJO5TrqzN
      w8lMfa6/lLjZXio93KuhTptmfDVBt7kUtn3xgt63tSkWGrsnnk0mSzh3+SXcx/3B
      ucLS4nURwiBR4iRd7cKE9pegWz/L/gjlRza6nY1q9893nUuNFffrRuAFhoETaggf
      cikug6mlK6hQhcslEQiwmZghSCnAQ/FMjxLpluJhqp+wuAHcaR28zN+lh63tF1K7
      /R1G//gBAoGBAMqY4sQ2U1l4Ldoe6C1qFNzwnwBGNTKfZINIVJ094OTr13OxSV/d
      /gGik9b/RLI/b4GkHHrIDbfpFQ+Wri0IAr13DaulaZWAqpCMxx3K36LcbZQq81q9
      xOOgXan6iWk72BZV0if5RwweD4AfVDc5v/95t4at1DSzQQUat9CmOiiJAoGBAMBw
      5kSge6x6Gh6wnAnSjZaaGGcMqWELCmrTCnKDB8QtlDCyI6laMw2orp/ADbrlZwjH
      OOxa4TuxCU3wRswsbui5NSGNUn9vtOJjASNblXfr6suOQUjflHAf+1WDpDAz2Dcx
      p0u0Vc9t4H7Y5gVa0LLVG8fmVHEsV/PAR47K+DKhAoGACeINZd70j+/B5NsPHnAH
      VoPSbdP+8lo+L/1OS2FiYCh1GSqz1p5grrm8lodbVYqsqNlVnlO1/5u6MEl8c6vp
      Xk65dv8ZuHZPW7/SUsy7vhkcq1axCmMpgKUpDIqxO1X1A5nqJ5MMeTXaMbjVheAm
      UpMgdcxzBqMb7+DOyLnjKmkCgYBg67udjrIbAPgMwugjrk6vLfbiV6cq//OEL7wQ
      Rlvv+wCqsd1yGsKhu3YPcRu5KHaHHkdWCsNrW9OS1FPj2vEU9sqClnmZQzp31mMp
      WqPh3QjI8mGBAVHyUrkzrXRQ7puT2McoQrABI5awbC8VPVLk7p3qRN/8i9fUJOAl
      U6ZDYQKBgFGLxNGHZl/AB+axAizGr+Cce4mhTcqZRPya3qDsEcyZkSFobfNaNyLB
      Utkg6K2ISXzE/DSOpwo9Q4xzFT3luoIkOv/tZ3C7c7o+59w5Ytkl2qsMAFwWEP10
      K5bht6qQ76W8HtxwYHNX4/0bDd20SMAy/l8buAqJEm/cM8HkrpNT
      -----END RSA&amp;nbsp;PRIVATE KEY----- 
